@using CRM.WebHelper

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/AdminHome/_LayoutadminHomecshtml.cshtml";
}

<div>
    <div id="layout1">

        <div position="top">
            <nav class="navbar navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">CRM 项目管理 </a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">


                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#"> @UserManger.GetUserInfoName().uRealName </a>

                            </li>
                            <li>
                                <a href='@Url.Action("LoginOut", "Login")'>登出</a>
                            </li>

                        </ul>
                        <a class="navbar-brand navbar-right " href="#">
                            <img alt="Brand" src="~/Content/img/user_24px_1138889_easyicon.net.ico" style="height: 25px"/>
                        </a>
                    </div>
                </div>
            </nav>


        </div>
        <div position="left">
            <div id="accordion1" >
                @{
                    Node nodes = ViewBag.menus;
                    foreach (var node in nodes.ChildNodes)
                    {
                        <div title="@node.Nodeitem.mName" style="font-size: 16px; text-align: center; color: red">
                            <ul>
                                @foreach (var nn in node.ChildNodes)
                                {
                                    <li>
                                        <a href="#" onclick="addtab('@nn.Nodeitem.mID','@nn.Nodeitem.mName','@nn.Nodeitem.mUrl')">
                                            <i class="@nn.Nodeitem.mPicname"></i>@nn.Nodeitem.mName</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                }

            </div>

        </div>
        <div position="center" title="工作区" >
            <div id="tab1" style="border: 1px solid #A3C0E8; ">

            </div>
        </div>

    </div>


</div>

@section scripts{
    <script type="text/javascript">

        var navtab;
        $(function() {
            $("#layout1").ligerLayout(
                {
                    leftWidth: 200,
                    topheight: 30,
                   // centerWidth :'100%'
                }
            );
            $("#accordion1").ligerAccordion(
            {
               
            });
//todo 操，这个高度没有设定让我整了半天，显示的都是一半数据
            navtab= $("#tab1").ligerTab({
                height: '100%',
//centerWidth:'100%'

            });


        });

        function addtab(m_tabid, m_title, m_url) {
            
           var g=  navtab.addTabItem(
                {
                    tabid:m_tabid,
                    url: m_url ,
                    text: m_title
                 
                }

                );
          
            
        }
       
    </script>
}