
@model CRM.Model.sysKeyValue

@{
    ViewBag.Title = "Add";
}
<link href="~/Scripts/LigerUI/lib/ligerUI/skins/Aqua/css/ligerui-form.css" rel="stylesheet" />
<style type="text/css">
    body {
        font-size: 12px;
    }

    .l-table-edit {
    }

    .l-table-edit-td {
        padding: 4px;
    }

    .l-button-submit, .l-button-reset {
        width: 80px;
        float: left;
        margin-left: 10px;
        padding-bottom: 2px;
    }

    .l-verify-tip {
        left: 230px;
        top: 120px;
    }
</style>
<h2 class="text-center" style="border-bottom: solid seagreen;padding: 5px">增加键值对</h2>
<div style="margin-left: 20px;margin-top: 25px"/>


    @using (Ajax.BeginForm("Add","KeyVal",new AjaxOptions()
    {
        HttpMethod = "Post",
        Url = Url.Action("Add", "KeyVal"),
        OnBegin = "Begin",
        OnSuccess = "success"

    },new {@class="l-form",id="form1"}))
    {
        @Html.AntiForgeryToken()

        <table cellpadding="0" cellspacing="0"    style="padding: 10px" class="l-table-edit">
            <tr>
                <td align="right" class="l-table-edit-td">字典键值名称:</td>
                <td align="left" class="l-table-edit-td">                
                    @Html.EditorFor(model => model.KName, new { htmlAttributes = new { @class= "l-text" } })        
                </td>
                <td align="left" class="l-table-edit">@Html.ValidationMessageFor(model => model.KName)</td>
            </tr>
            <tr>
                <td align="right" class="l-table-edit-td">字典键值:</td>
                <td align="left" class="l-table-edit-td">
                    @Html.EditorFor(model => model.Kvalue, new {htmlAttributes = new {@class = "l-text"}})
                </td>
                <td align="left" class="l-table-edit">@Html.ValidationMessageFor(model => model.Kvalue)</td>
            </tr>
            <tr>
                <td align="right" class="l-table-edit-td">字典键值备注:</td>
                <td align="left" class="l-table-edit-td">
                    @Html.EditorFor(model => model.KRemark, new {htmlAttributes = new {@class = "l-text"}})
                </td>
                <td align="left" class="l-table-edit">@Html.ValidationMessageFor(model => model.KRemark)</td>
            </tr>
            <tr>
                <td align="right" class="l-table-edit-td">字典键值类型:</td>
                <td align="left" class="l-table-edit-td">
                    @Html.EditorFor(model => model.KType, new { htmlAttributes = new { @class= "l-text" } })
                </td>
                <td align="left" class="l-table-edit">@Html.ValidationMessageFor(model => model.KType)</td>
            </tr>
        </table>
        <input type="submit" value="提交" id="Button1" class="l-button l-button-submit" />
        <input type="reset" value="重置" class="l-button l-button-reset" />







            }


            @section scripts{
                <script type="text/javascript">
                    $(function() {
                        $("#form1").ligerForm();
                    });
                    function Begin() {

                    }

                    function success(ajaxMsg) {
                        if (ajaxMsg.staus == 0) {
                            $.ligerDialog.success(ajaxMsg.msg, "成功", function () {
                                window.parent.gridd.reload();
                                window.parent.win.hide();

                            });


                        }
                        if (ajaxMsg.staus == 1) {
                            $.ligerDialog.warn(ajaxMsg.msg);
                        }
                        if (ajaxMsg.staus == 2) {
                            $.ligerDialog.error(ajaxMsg.msg);
                        }
                    }
                </script>
            }
