@using System.Web.Mvc.Ajax
@model CRM.Model.sysKeyValue

@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>
<div style="margin-left:20px">


    @using (Ajax.BeginForm("Add",new AjaxOptions()
    {
    HttpMethod = "Post",
    Url = Url.Action("Add", "KeyVal"),
    OnBegin = "Begin",
    OnSuccess = "success"

    }))
    {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>sysKeyValue</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.KType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KType, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Kvalue, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Kvalue, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Kvalue, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KRemark, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KRemark, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KRemark, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
    }
</div>

@section scripts{
    <script type="text/javascript">
        function Begin() {
            
        }

        function success(ajaxMsg) {
            if (ajaxMsg.staus == 0) {
                $.ligerDialog.success(ajaxMsg.msg,"成功",function() {
                    window.parent.win.hide();

                });
               
              
            }
            if (ajaxMsg.staus == 1) {
                $.ligerDialog.warn(ajaxMsg.msg);
            }
            if (ajaxMsg.staus == 2) {
                $.ligerDialog.error(ajaxMsg.msg);
            }
        }
    </script>
}
