
@{
    ViewBag.Title = "Index";
}





<div class="panel panel-default">
    <div class="panel-heading">搜索</div>
    <div class="panel-body">
        <div class="form-inline" role="search">
          
            <div class="form-group">
              
                <input id="kname" type="text" class="form-control" placeholder="字典名称">
            </div>
            <button class="btn btn-success">搜索</button>
        </div>
    </div>
</div>


    <form>
        <div id="maingrid4" style="margin:0; padding:0"></div>
    </form>



    @section scripts{
        <script type="text/javascript">
            var gridd;
            $(function() {
                CRMHelper.getFunctionByPermiss('@Request.RawUrl', CreateGrid);
            });
               
                  
                
          

            function CreateGrid(itemjson) {
                gridd = $("#maingrid4").ligerGrid({
                    columns: [
                        { display: '主键编号', name: 'KID', align: 'left', width: 120 },
                        { display: '字典类型', name: 'KType', minWidth: 60 },
                        { display: '字典名称', name: 'KName', width: 150, align: 'left' },
                        { display: '字典值', name: 'Kvalue' }
                    ],
                    pageSize: 10,
                    checkbox: true,
                    url: '@Url.Action("GetKeyVallist", "KeyVal")',
                    parms: [
                        {
                            name: " KName",
                            value: $("#kname").val()
                        }
                    ],
                    //这个高度也必须写。要不然不出滚动条
                    height: '100%',
                    method: "post",
                    isScroll: true,
                    groupColumnName: 'KType',
                    groupColumnDisplay: '字典类型',
                    toolbar: {
                        items:itemjson
                    }
                });
            }


            var winopen;

            function add() {
                winopen = $.ligerDialog.open({
                    height: 250,
                    width: 500,
                    isResize: true,
                    url: '@Url.Action("Add")'
                });
                var winedit;
            }

            function edit() {
                var row = gridd.getSelectedRow();
                //todo 这样就可以获取到值
                if (!row) {
                    alert("请选择行！");
                    return;
                }
                var kid = row.KID;

                winedit = $.ligerDialog.open({
                    height: 250,
                    width: 500,
                    url: '@Url.Action("Edit", "KeyVal")' + '/' + kid
                });
            }

            function refresh() {
                gridd.reload();
            }
            function del() {
                var rows = gridd.getSelectedRows();

                var ids = "";
                for (var i = 0; i < rows.length; i++) {
                    ids += rows[i].KID + ',';
                }

                $.post('@Url.Action("Delete", "KeyVal")', { id: ids }, function(ajaxMsg, status) {
                    CRMHelper.CheckStatus(ajaxMsg, function() {
                        gridd.reload();
                    });
                })


            }

        </script>
    }
