@model CRM.Site.Areas.Admin.Models.LoginModelView
@{
    ViewBag.Title = "Login";
}
<style type="text/css">
    
</style>

<div id="login">
    @using (Ajax.BeginForm("Login", "Login", new AjaxOptions()
    {
        HttpMethod = "Post",
        Url = Url.Action("Login", "Login"),
        OnBegin = "Begin",
        OnSuccess = "success"

    }, new {id = "loginForm1"}))
    {
       @Html.AntiForgeryToken()
        <h2>登陆</h2>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-group">
            @Html.LabelFor(m => m.LoginName, new {@class = " control-label"})
            <div>
                @Html.TextBoxFor(m => m.LoginName, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.LoginName, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LoginPassword, new {@class = "control-label"})
            <div>
                @Html.PasswordFor(m => m.LoginPassword, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.LoginPassword, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Vcode, new {@class = "control-label"})
            <div>
                <div class="form-horizontal">

                    @Html.TextBoxFor(m => m.Vcode, new {@class = "form-control"})
                    @*放上面变手形状鼠标 *@
                    <img src="@Url.Action("Vcode", "Login")" id="imgvcode" onclick="ResetVcode()" height="45" width="250" style="cursor: pointer"/>
                    @Html.ValidationMessageFor(m => m.Vcode, "", new {@class = "text-danger"})
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.IsRemember)
            @Html.CheckBoxFor(m => m.IsRemember)

        </div>
        <div class="form-group">
            <div>
                <input type="submit" value="登录" class="btn btn-primary"/>
            </div>
        </div>
    }


</div>

@section scripts{
<script type="text/javascript">
        function success(ajaxMsg) {
          
            ResetVcode();
            if (ajaxMsg.staus == 0) {
                window.location = '@Url.Action("Index","AdminHome")';
            }
            if (ajaxMsg.staus==1) {
                $.ligerDialog.warn(ajaxMsg.msg);
            }
            if (ajaxMsg.staus==2) {
                $.ligerDialog.error(ajaxMsg.msg);
            }
        }
        function Begin() {

        }
</script>
    <script type="text/javascript">
        $(function() {
            $.ligerDialog.open({
                target: $("#login"),
                width: 450,
                allowClose: false,
                title: "登陆",
                buttons: [
                    {
                        text: "登陆",
                        onclick: function() {
                            $("#loginForm1").submit();

                        },
                        cls: "l-dialog-btn-highlight"
                    },
                    {
                        text: "重置",
                        onclick: function() {
                            document.getElementById("loginForm1").reset();

                        }
                    }
                ],


            });


        });

        function ResetVcode() {
            //加随机数防止生成缓存，生成后它就不会变化了
            $("#imgvcode").attr("src", '@Url.Action("Vcode", "Login")' + "?rid=" + Math.random());
        }


    </script>


}   

