@model CRM.Model.sysOrganStruct

@{
    ViewBag.Title = "edit";
   
}

<h2>edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>sysOrganStruct</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.osID)
        <table>
            <tr>
                <td>@Html.LabelFor(model => model.osParentID)</td>
                <td>@Html.DropDownList("osParentID", ViewData["pidd"] as IEnumerable<SelectListItem>)</td>
                <td>@Html.ValidationMessageFor(model => model.osParentID, "", new { @class = "text-danger" })</td>
            </tr> 
            <tr>
                <td>@Html.LabelFor(model => model.osName)</td>
                <td>@Html.EditorFor(model => model.osName)</td>
                <td>@Html.ValidationMessageFor(model => model.osName, "")</td>
            </tr> 
            <tr>
                <td>@Html.LabelFor(model => model.osCateID)</td>
                <td>@Html.EditorFor(model => model.osCateID)</td>
                <td>@Html.ValidationMessageFor(model => model.osName, "")</td>
            </tr> <tr>
                <td>@Html.LabelFor(model => model.osShortName)</td>
                <td>@Html.EditorFor(model => model.osShortName)</td>
                <td>@Html.ValidationMessageFor(model => model.osShortName, "")</td>
            </tr> <tr>
                <td>@Html.LabelFor(model => model.osCateID)</td>
                <td>@Html.EditorFor(model => model.osCateID)</td>
                <td>@Html.ValidationMessageFor(model => model.osName, "")</td>
            </tr> <tr>
                <td>@Html.LabelFor(model => model.osCateID)</td>
                <td>@Html.EditorFor(model => model.osCateID)</td>
                <td>@Html.ValidationMessageFor(model => model.osName, "")</td>
            </tr> <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr> <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr> <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr> <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr> <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr> <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
      

        

       
      

        <div class="form-group">
            @Html.LabelFor(model => model.osShortName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.osShortName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.osShortName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.osRemark, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.osRemark, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.osRemark, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.osStatus, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.osStatus, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.osStatus, "", new { @class = "text-danger" })
            </div>
        </div>

       

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
