@model CRM.Model.sysOrganStruct

@{
    ViewBag.Title = "edit";
   
}

<h2>edit</h2>

@using (Ajax.BeginForm("edit","OrganStruct",new AjaxOptions()
{
    HttpMethod = "post",
    OnSuccess = "success"

},new {id="form1",@class= "l-form" }))
{
    @Html.AntiForgeryToken()
    
   
        <h4>sysOrganStruct</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.osID)
        @Html.HiddenFor(model => model.osCreatorID)
        @Html.HiddenFor(model => model.osCreateTime)
        <table class="l-table-edit">
            <tr>
                <td class="l-table-edit-td">@Html.LabelFor(model => model.osParentID)</td>
                <td class="l-table-edit-td">@Html.DropDownList("osParentID", ViewData["pidd"] as IEnumerable<SelectListItem>, new { htmlAttributes = new { @class = "l-text" } } )</td>
                <td class="l-table-edit-td">@Html.ValidationMessageFor(model => model.osParentID, "", new { @class = "text-danger" })</td>
            </tr> 
            <tr>
                <td class="l-table-edit-td">@Html.LabelFor(model => model.osName)</td>
                <td class="l-table-edit-td">@Html.EditorFor(model => model.osName, new { htmlAttributes = new { @class = "l-text" } })</td>
                <td>@Html.ValidationMessageFor(model => model.osName, "")</td>
            </tr> 
            <tr>
                <td class="l-table-edit-td">@Html.LabelFor(model => model.osCateID)</td>
                                
         @* todo ViewData的键值对名称最好是模型字段名称一样，要不然会报不存在具有。。。键值对的错误*@
                <td class="l-table-edit-td">@Html.DropDownListFor(model=>model.osCateID,ViewData["osCateID"] as List<SelectListItem>)</td>
                <td>@Html.ValidationMessageFor(model => model.osName, "")</td>
            </tr>
            <tr>
                <td class="l-table-edit-td">@Html.LabelFor(model => model.osShortName)</td>
                <td class="l-table-edit-td">@Html.EditorFor(model => model.osShortName)</td>
                <td>@Html.ValidationMessageFor(model => model.osShortName, "")</td>
            </tr>
            <tr>
                <td class="l-table-edit-td">@Html.LabelFor(model => model.osCode)</td>
                <td class="l-table-edit-td">@Html.EditorFor(model => model.osCode)</td>
                <td>@Html.ValidationMessageFor(model => model.osCode, "")</td>
            </tr>
             <tr>
                <td class="l-table-edit-td">@Html.LabelFor(model => model.osRemark)</td>
                <td class="l-table-edit-td">@Html.EditorFor(model => model.osRemark)</td>
                <td>@Html.ValidationMessageFor(model => model.osRemark, "")</td>
            </tr> <tr>
                <td class="l-table-edit-td">@Html.LabelFor(model => model.osStatus)</td>
                <td class="l-table-edit-td">
                    @Html.RadioButtonFor(model => model.osStatus, 1, new { @name = "osStatus",@checked=true })<span>启用</span>
                    @Html.RadioButtonFor(model => model.osStatus, 0, new { @name = "osStatus" }) <span> 停用 </span>
                </td>
                <td>@Html.ValidationMessageFor(model => model.osStatus, "")</td>
            </tr> 
        </table>
        <input type="submit" value="提交" id="Button1" class="l-button l-button-submit" />
        <input type="reset" value="重置" class="l-button l-button-reset" />
}
@section scripts{
    <script type="text/javascript">
       
        $(function () {
            $("#form1").ligerForm();
        });
        function success(ajaxMsg) {
            CRMHelper.CheckStatus(ajaxMsg, function () {
                window.parent.gridd.reload();
                window.parent.winedit.hide();
            });

        }
    </script>
}